nav {
  font-family: "Rethink Sans", sans-serif;
  z-index: 1000; /* Ensure the navbar stays on top */
  position: fixed;
  top: 0;
  width: 100%; /* Make sure the navbar spans the full width */
  background-color: #000; /* Ensure the background is set */
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid #c6f806;
  height: 4rem;
  list-style: none;
  padding: 0 2rem;
  margin: 0; /* Remove default margin */
}

nav ul li {
  font-size: 1rem;
  font-family: "Rethink Sans", sans-serif;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

nav ul li:hover {
  color: #c6f806;
  transform: scale(1.05);
  transition: 0.1s;
}

nav ul li img {
  height: 100%;
}

.navbar-logo-container {
  height: 1.5rem;
}

.mobile {
  justify-content: space-between;
  padding: 0 1rem;
  width: 15rem;
}

.navbar-menu {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem 1rem;
  gap: 10px;
  height: fit-content;
  background-color: #c6f806;
  color: black;
  width: 15rem;
  margin-top: 0.5rem;
  border-radius: 23px;
  font-weight: 700;
  z-index: 100;
  position: absolute;
}

.navbar-menu li {
  color: black;
}

.navbar-menu li:hover {
  color: black;
}

.hamburger-box {
  height: 20px !important;
  width: 32px !important;
  margin: auto;
  color: #c6f806;
}

.navigation {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.navigation li {
  font-weight: 600;
}

.devfolio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  color: black;
  width: 12.5%;
  height: 60%;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.devfolio-btn:hover {
  background-color: #d7d5d5;
  font-size: 1.01rem;
}

.devfolio-btn img {
  width: 10%;
  margin-right: 5px;
}
