/* Base Styles */
.tracks-container {
  max-width: 100%;
  margin: auto;
  margin-bottom: 13%;
  margin-top: 10%;
}

.tracks-descr {
  font-family: "Atyp Display";
  color: #fff;
  margin-left: 7%;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.tracks-title {
  font-family: "Druk Wide Trial";
  margin-left: 7%;
  color: #c6f806;
  font-size: 4em;
  margin-bottom: 20px;
}

.tracks-description {
  font-family: "Atyp Display";
  color: #fff;
  margin-left: 7%;
  font-size: 1.5em;
  margin-bottom: 40px;
}

/* Flexbox Layout */
.tracks-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Adjust the spacing between items */
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.empty-space {
  width: 10%;
}
.empty-space2 {
  width: 10%;
}
.tracks-item-container {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
}

.t1,
.t2,
.t3,
.t4 {
  border-bottom: 1px dashed #444;
}

.track-item {
  flex: 1 1 calc(33.33% - 2rem);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  border-left: 1px dashed #444;
  border-right: 1px dashed #444;
  text-align: center;
  height: 15rem;
}

.track-image {
  height: auto;
  width: 55px;
  margin-bottom: 5%;
}

.track-title {
  color: #c6f806;
  font-size: 1.5em;
  margin-bottom: 5%;
  font-family: "Atyp Display";
}

.track-description {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  margin: 0; /* Remove any extra margins */
}

@media (max-width: 1200px) {
  .tracks-item-container {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media (max-width: 980px) {
  .tracks-title {
    font-size: 3em;
  }
  .tracks-descr {
    font-size: 1.5em;
    margin-right: 1.25em;
    line-height: 1.1em;
  }
  .tracks-grid {
    width: 100%;
  }
  .tracks-item-container {
    grid-template-columns: repeat(2, 0.5fr);
  }
  .track-item {
    flex: 1 1 calc(50% - 1rem);
    width: 100%;
    padding: 2rem;
    font-size: 0.9rem;
  }
  .track-image {
    width: 40px;
  }
  .t4 {
    border-bottom: 1px dashed #444;
  }
  .empty-space {
    width: 6%;
  }
  .empty-space2 {
    width: 7%;
  }
}
@media (max-width: 500px) {
  .tracks-title {
    font-size: 2.5em;
  }
  .tracks-descr {
    font-size: 1.2em;
    margin-right: 1.1em;
  }
  .tracks-grid {
    width: 100%;
  }
  .tracks-item-container {
    grid-template-columns: repeat(1, 4fr);
  }
  .t5 {
    border-bottom: 1px dashed #444;
  }
  .empty-space,
  .empty-space2 {
    width: 20%;
  }
  .track-item {
    font-size: 1.1rem;
  }
}
