.spons-container{
    margin-bottom: 29%;
  }
  
  .partners{
      display: flex;
      margin-top: 8%;
      height: 0;
  }
  
  .partners h2{
      font-family: "Atyp Display";
      font-weight: 400;
      font-size: 46px;
      line-height: 22.4px;
      height: 0px;
      margin-left: 6%;
  }
  .part{
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      width: 100%;
      border-top: solid 2px #454545;
      border-bottom: solid 2px #454545;
      margin-top: 100px;
  }
  
  .space{
      width: 5%;
  }
  
  .spons-container h1{
      font-size: 60px;
      line-height: 19.6px;
      font-weight: 500;
      font-family: "Druk Wide Trial";
      color: #C6F806;
      margin-left: 85px;
  }
  
  .partner1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-right: dotted 2px #454545;
      border-left: dotted 2px #454545;
      height:250px ;
      
  }
  

  
  
  .partner2{
      height: 250px;
      width: 550px;
      border-right: dotted 2px #454545;   
      margin-left: 0;
      width: 573px;
  }
  .partner2 img{
      width:300px ;
      padding: 10px;
      margin-inline: 30px;
  }
  .partner1 img{
      padding: 2%;
  }
  

  .sponsors{
      display: flex;
      margin-top: 31%;
  }
  
  .sponsors h2{
      margin-top: 15px;
      
  }
  .spons{
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      width: 100%;
      border-top: solid 2px #454545;
      border-bottom: solid 2px #454545;
      margin-top: 100px;
  
  
  }
  
  .sponsors h2{
      font-family: "Atyp Display";
      font-weight: 400;
      font-size: 46px;
      line-height: 22.4px;
      height: 0px;
      margin-left: 6%;
  }
  
  .sponsor1 {
      margin-left: 0;
      display: flex;
     height: 170px;
      border-left: dotted 2px #454545;
      width: 35%;
  }
  .sponsor1 img{
      width: 85% ;
      padding: 10px;
      margin-inline: 20px;
      
  }
  .sponsor2 {
      margin-left: 0;
      display: flex;
     height: 170px;
      border-left: dotted 2px #454545;
      width: 35%;
  }
  .sponsor2 img{
      width:85% ;
      padding: 10px;
      margin-inline: 20px;
  }
  .sponsor3 {
    margin-left: 0;
    display: flex;
   height: 170px;
    border-left: dotted 2px #454545;
    width: 35%;
}
  .sponsor3 img{
      width:85% ;
      padding: 10px;
      margin-inline: 20px;
  }
  .sponsor4{
      margin-left: 0;
      display: flex;
    
      border-left: dotted 2px #454545;
      width: 430px;
      height: 170px;
  }
  .space1{
          width: 100px;
      height: 170px;  
  }
  .space2{
    
      width: 100px;
      height: 170px;
      border-left: dotted 2px #454545;    
  
  }
