.tagline {
    color: #C6F806;
    width: 80%;
    height: 45vh;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 6rem;
    margin-bottom: 8rem;
    font-family: "Druk Wide Trial", sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0.075em;
}

.tagline-top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #C6F806;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}

.tagline-bottom {
    text-align: left;
}

@media (max-width: 768px) { 
    .tagline {
        font-size: 21px;
        line-height: 32px;
        letter-spacing: 0.0375em;
        margin-top: 2rem;
        text-align: left;
    }

    .tagline-top {
        margin-top: 40%;
        text-align: left;
    }

    .tagline-bottom {
        text-align: left;
    }
}
