.mobile-container{
    z-index: 100;
    width: 100%;
    overflow-y: hidden; 
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #0C0C0C;
   position: fixed;
}
.sub-container{
    border: 2px dashed  #454545;
    width: 327px;
    height: 601px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #0C0C0C;
   position: relative;
   right: 20px;
    
}

li{
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    line-height: 26.04px;
    text-align: center;
    
   
    
}
ul.mobile-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  
    
}
